
.navbar {
    background: rgba(42, 43, 56, 0.5);
    border: 0.2rem solid rgb(42, 43, 55);
    backdrop-filter: blur(104px);
    border-radius: 2rem;
    margin-top: 10px;
    color: white;
    padding: 15px 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 20px;
  }
  
  .navbar-link:hover {
    color: teal;
  }

  @media (max-width: 370px) {
    .navbar-link{
      font-size: 14px;
    }
  }